<!DOCTYPE html>
<html>
<head>
<link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/2.11.0/tabulator.min.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="style.css">
<title></title>
</head>
<body>
<header id="header">
<div id="logoImg"><img src="pics/logo3.jpg"></div>
<h1>Welcome to banking!!</h1>
</header>

<form class="form-inline">

<label class="search">Search by..</label>
<br>
 <div class="form-group">
<label for="acttype">Account Type</label>
<select id="acttype" value="Accountid" >
<option value="SelectAccountType">Select Account Type</option>
</select>

<label for="gender">Gender</label>
<select id="gender" value="Gender" >
<option value="SelectGender">Select Gender</option>
</select>

<label for="city">City</label>
<select id="city" value="City" >
<option value="SelectCity">Select City</option>
</select>

<label for="limit">Limit Results</label>
<select id="limit" value="LimitResults" >
<option value="100">100</option>
<option value="200">200</option>
<option value="300">300</option>
</select>
</div>
<br>
<div class="form-group">
<label for="socSec">Social Security</label>
<input type="text" id="ssn" placeholder="Social Security">
<label for="accountcode">Account Code</label>
<input type="text" id="accountCode" placeholder="accountCode">
<label for="Name">User Name</label>
<input type="text" id="username" placeholder="Name">
<label for="Name">User Name</label>
<input type="text" id="username" placeholder="Name">
</div>

</form>
<button id="userSubmit" class="show">Submit</button>
<div id="hidden" class="toggle">
<a id="download-csv"><img src="pics/downloadCSV.jpg" class="image"></a>
<a id="download-json"><img src="pics/downloadJson.png" class="image"></a>
</div>
<div id="showResult"></div>
<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
 
 
 <script
  src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"
  ></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/2.11.0/tabulator.min.js"></script>

<script type="text/javascript" src="user_details.js"></script>
</body>
</html>